<header>
  <h2 class="gmail-header">GMAIL</h2>
</header>

{{#link-to "compose"}}
  <button id="composeButton">+ Compose</button>
{{/link-to}}

<nav>
  <div id="navbox">
    {{#link-to "index"}}
      Inbox
    {{/link-to}}
    <br><br>
    {{#link-to "sent"}}
      Sent
    {{/link-to}}
    <br><br>
    {{#link-to "trash"}}
      Trash
    {{/link-to}}
  </div>
</nav>

{{outlet}}
