<style>
  #container {
    margin-left: 250px;
    margin-top: 100px;
  }
  #inbox th{
    /* list-style-type: none; */
    text-align: left;
  }
  #fromname {
    width: 200px;

  }
  #message {
    width: 900px;
    color: black;
    /* white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; */
  }
  #message-preview{

  }
  #star-button {
    width:50px;
    margin-right: 30px;
    padding-left: 0;
    margin-left: 0;
  }
</style>

<div id="container">
  <h1>Inbox</h1>
  <table id="inbox">
    <thead>
      <th>
        Starred
      </th><br>
    </thead>
    <tbody>
      {{#each model as |email|}}
        {{#if email.starred}}
          <SingleEmail @email={{email}} data-test="email"/>
        {{/if}}
      {{/each}}
    </tbody>
  </table>

  <table id="inbox">
    <thead>
      <th>
        General
      </th><br>
    </thead>
    <tbody>
      {{#each model as |email|}}
        {{#unless email.starred}}
          <SingleEmail @email={{email}} data-test="email"/>
        {{/unless}}
      {{/each}}
    </tbody>
  </table>
</div>
{{outlet}}
